body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    background: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 80%;
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 6px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eaeaea;
    margin: 5px 0;
    padding: 6px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
